<body class="container-fluid">
  
  <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal" id="AddEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Allocation</h5>
        <button type="button" (click)="closePopup()" class="btn-close" data-dismiss="modal" aria-label="Close">
          <!-- <span aria-hidden="true">&times;</span> -->
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="allocationForm" (ngSubmit)="addAllocation()">
          <div class="form-group d-flex flex-column"> 
           
            
         <label for="equipment" class="fw-bold">Select Equipment</label>
          <select name="equipment" id="equipment" class="form-control mb-2" [(ngModel)]="newAllocation.equipment_allocated"  formControlName="equipment"  >
            
            <option *ngFor="let equipment of equipments" [ngValue]="equipment.id" >

              {{equipment.equipment_name}} - code {{equipment.equipment_code}} - serial {{equipment.equipment_serial_number}}
            </option>

          </select>
         <label for="equipment" class="fw-bold">Select Employee</label>

          <select name="employee" id="employee" class="form-control mb-2" [(ngModel)]="newAllocation.employee_allocated"  formControlName="employee"  >
            
            <option *ngFor="let employee of employees" [ngValue]="employee.id">

              {{employee.employee_fname}} {{employee.employee_lname}}
            </option>

          </select>
        </div>
   
          <button type="submit" id="submitEmployee" class="btn btn-success">Add</button>

        </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" (click)="closePopup()" class="btn btn-secondary" data-dismiss="modal">Close</button>
       
      </div> -->
    </div>
  </div>
</div>



  <button class="btn btn-dark my-3" type="button" (click)="openPopup()">New</button>
  <table class="table table-borderless">
    <thead>
      <tr class="shadow-3 bg-primary text-white rounded-2">
        <th scope="col">#</th>
        <th scope="col">Employee Name</th>
        <th scope="col">Equipment Name</th>
        <th scope="col">Serial Number </th>
        <th scope="col">Action </th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let allocation of allocations">
        <th scope="row shadow">{{ allocations.indexOf(allocation) +1 }}</th>
        <td>{{allocation.employee_fname}} {{allocation.employee_lname}}</td>
        <td>{{allocation.equipment_name}}</td>
        <td>{{allocation.equipment_serial_number}}</td>
        <td *ngIf="allocation.is_returned==false"><button class="btn bg-dark text-white" (click)="returnEquipment(allocation.id)">Return</button></td>
        <td *ngIf="allocation.is_returned==true"><span class="btn bg-success text-white">Returned</span></td>

      </tr>
      <!-- <div class="row" *ngFor="let employee of employees">
  
        <p class="text-danger" >{{employee.employee_fname}} {{ employee.employee_lname }}</p>
      
      </div> -->
    </tbody>
  </table>
  
  
  </body>